*{
  margin: 0;
  padding: 0;
}

.parent{
  box-sizing: border-box;
  overflow: hidden;
  display:inline-block;
  padding: 1rem;
}
.card{
  width: 270px;
  height: auto;
  background: #ffffff;
  padding: 1.2em;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 23px;
}
.card .top img{
  width: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  

}
.card .top{
  display: flex;
  justify-content: space-between;


}
.save-btn{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 90px;
  gap:2px;
  border: none;
  border-radius: 5px;
  color: black;
  background: rgb(233, 216, 216);
}
.save-btn.saved{
  background:rgb(0, 0, 0);
  color: white;
  padding: 5px 5px;
  
}

.save-btn.saved .bookmark-icon {
  fill: white;
  stroke: white;
}

 .middle{
  color: black;
} 
.middle p{
  display: flex;
  justify-content: start;
  gap: 15px;
  margin-bottom: 5px;
  align-items: baseline;
}
.middle p span{
  font-size: 14px;
  color:rgb(170, 166, 166);
  font-weight: bold;
}

.middle .tags{
  display: flex;
  gap: 10px;
}
.tags h5{
  background: #bdbbbb;
  color: rgb(48, 46, 46);
  font-size: small;
  font-weight: 600;
  padding: 2px 7px;
  border-radius: 5px;
  margin-top: 10px;
}
.bottom{
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.bottom .bottom-div h6{
  font-size: 14px;
  color:rgb(170, 166, 166);
  font-weight: bold;
  
}
#line{
  height: 0.2px;
  background: #b1a9a9;
  margin-top: 50px;
}

.bottom button{
  padding: 7px 14px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.bottom button:hover{
  background: #1f39e2;
  color: black;
}